* {
    padding:0;
    margin:0;
}


body {
    background-image: linear-gradient(0deg, rgb(0,116,224), rgb(35, 200, 255));
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.heading {
    flex-direction: column;
    margin-bottom: 3%;
    margin-top: 9vh;
    margin-left: auto;
    margin-right: auto;
    font-family: pacifico;
    font-weight: 400;
    font-size: 3rem;
}


.grid {
    flex-direction: column;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    max-width: 90vw;
    max-height: 90vw;
    background-color: snow;
    border: solid 2px rgb(0,70,124);
    border-radius: 10px;
    overflow: hidden;
}

.cell {
    border: dashed thin rgb(236, 237, 238);
}

.cellNew {
    border: dashed thin rgb(0,70,124);
    background-color: rgb(0,70,124);
}

.clear{
    margin-top: 20px;
    padding: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,70,124);
    border: transparent;
    border-radius: 3px;
    color: snow;
}

.create{
    margin-bottom: 20px;
    padding: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,70,124);
    border: transparent;
    border-radius: 3px;
    color: snow;
}

.clear:hover {
    background-color: rgb(211, 151, 40);
}

.clear:active {
    background-color: rgb(231, 217, 190);
    outline: none;
}

.clear:focus {
    outline: none;
}

.create:hover {
    background-color: rgb(211, 151, 40);
}

.create:active {
    background-color: rgb(231, 217, 190);
    outline: none;
}

.create:focus {
    outline: none;
}